<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- creo un fragment per il <title></title> -->
    <title th:fragment="title(pageTitle)" th:text="${pageTitle}"/>
    <!-- creo un fragment per l'import bootstarp  -->
    <th:block th:fragment="styles">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </th:block>
</head>
<body>
    <!-- creo un fragment navbar  -->
    <nav th:fragment="navbar(title)" class="navbar navbar-expand-lg bg-warning">
        <div class="container-fluid">
            <a href="" class="navbar-brand text-danger">
                <img alt="logo" th:src="@{/img/logo.svg}">
                [[${title}]]
            </a>
            <button class="navbar-toggler navbar-toggler-danger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-danger" aria-current="page" th:href="@{/}">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" th:href="@{/students}">
                            Studenti
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- creo un fragment button  -->
    <a 
        th:fragment="button(link, title)" 
        th:href="${link}" 
        th:text="${title}" 
        class="btn btn-danger"
    ></a>


    
</body>
</html>