<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:replace="~{ fragments :: title('Students Page')}"/>
    <th:block th:replace="~{ fragments :: styles}"/>
</head>
<body>
    <header class="mb-4">
        <th:block th:insert="~{ fragments :: navbar('Pagina dei fan sfegatati')}"/>
    </header>
    <main class="container">
        <section class="students row">
            <div class="col-12">
                <h1 class="title mb-3 p-2 text-danger text-decoration-underline">
                    Lista dei fan der Pupone:
                </h1>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4" th:each="student : ${students}">
                <div class="card mb-3 p-4 bg-warning text-danger" th:object="${student}">
                    <img th:src="@{/img/img187.jpg}" alt="..." class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title" th:text="|*{firstName} *{lastName}|"></h5>
                        <p class="card-text">
                            Username: [[*{username}]]
                            <br> Email: [[*{email}]]
                        </p>
                        <a class="btn btn-danger text-warning" th:href="@{students/{studentUsername}/altro(studentUsername=*{username})}">
                            Pagina di [[*{firstName}]]
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>